# 1st Attempt
Optimize the model by chaning the bins and inputs in the data without changing the model first, to see if there is any value in changing what was passed into the model.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Choose original cutoff value for 'APPLICATION_TYPE' and create a list of application types to be replaced
application_types_to_replace = ["T9", "T13", "T12", "T2", "T14", "T25", "T15", "T29", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose new cutoff value for CLASSIFICATION that includes one more bin
classifications_to_replace = []
for x in application_df["CLASSIFICATION"]:
    if (x != "C1000") and (x != "C2000") and (x != "C1200") and (x != "C3000") and (x != "C2100") and (x != "C7000"):
        if x not in classifications_to_replace:
            classifications_to_replace.append(x)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [5]:
# Look at INCOME_AMT value counts for possible binning of outliers
application_df["INCOME_AMT"].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [6]:
# Look at AFFILIATION value counts for possible binning of outliers
application_df["AFFILIATION"].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [7]:
# Choose cutoff value for 'AFFILIATION' and create a list of affiliation types to be replaced
affiliation_types_to_replace = ["National", "Regional", "Other"]

# Replace in dataframe
for aff in affiliation_types_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(aff,"Other")

# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
Other                  50
Name: AFFILIATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, prefix=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'], columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
# Split our preprocessed data into our features and target arrays

# Target
y = application_df["IS_SUCCESSFUL"]

# Features
X = application_df.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Compile, Train, and Evaluate a model that is identical to the original, but with the changes that have been made to the dataset
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=["accuracy"])

# Train the model
cp = tf.keras.callbacks.ModelCheckpoint('Output/weights.h5', save_weights_only=True, period=5)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3440

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________
WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 1s 583us/step - loss: 0.5712 - accuracy: 0.7170
Epoch 2/100
804/804 [==============================] - 0s 586us/step - loss: 0.5556 - accuracy: 0.7270
Epoch 3/100
804/804 [==============================] - 0s 567us/step - loss: 0.5523 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 0s 560us/step - loss: 0.5512 - accuracy: 0.7297
Epoch 5/100
804/804 [==============================] - 0s 581us/step - loss: 0.5493 - accuracy: 0.7301
Epoch 6/100
804/804 [==============================] - 0s 563us/step - loss: 0.5484 - accuracy: 0.7297
Epoch 7/100
804/804 [==============================] - 0s 563us/step - loss: 0.5478 - accuracy: 0.7308
Epoch 8/100
804/804 [==============================] - 0s 581us/step - loss: 0.5461 - accuracy: 0.7331
Epoch 9/100
804/804 [==============================] - 0s 562us/step - loss: 0.5460 - accuracy: 0.7320
Epoch 10/100
804/804 [==============================] - 0s 578us/step - loss: 0.5451 - accuracy: 0.7324
Epoch 11/100
804/804 [==============================] - 0s 559us/step - loss: 0.5446 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 0s 566us/step - loss: 0.5442 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 0s 573us/step - loss: 0.5447 - accuracy: 0.7323
Epoch 14/100
804/804 [==============================] - 0s 566us/step - loss: 0.5439 - accuracy: 0.7326
Epoch 15/100
804/804 [==============================] - 0s 581us/step - loss: 0.5435 - accuracy: 0.7338
Epoch 16/100
804/804 [==============================] - 0s 563us/step - loss: 0.5428 - accuracy: 0.7343
Epoch 17/100
804/804 [==============================] - 0s 579us/step - loss: 0.5429 - accuracy: 0.7329
Epoch 18/100
804/804 [==============================] - 0s 587us/step - loss: 0.5422 - accuracy: 0.7357
Epoch 19/100
804/804 [==============================] - 0s 580us/step - loss: 0.5420 - accuracy: 0.7351
Epoch 20/100
804/804 [==============================] - 0s 589us/step - loss: 0.5420 - accuracy: 0.7346
Epoch 21/100
804/804 [==============================] - 0s 591us/step - loss: 0.5416 - accuracy: 0.7351
Epoch 22/100
804/804 [==============================] - 0s 563us/step - loss: 0.5413 - accuracy: 0.7350
Epoch 23/100
804/804 [==============================] - 0s 575us/step - loss: 0.5415 - accuracy: 0.7348
Epoch 24/100
804/804 [==============================] - 0s 581us/step - loss: 0.5407 - accuracy: 0.7355
Epoch 25/100
804/804 [==============================] - 0s 602us/step - loss: 0.5407 - accuracy: 0.7353
Epoch 26/100
804/804 [==============================] - 0s 582us/step - loss: 0.5401 - accuracy: 0.7346
Epoch 27/100
804/804 [==============================] - 0s 579us/step - loss: 0.5399 - accuracy: 0.7369
Epoch 28/100
804/804 [==============================] - 0s 585us/step - loss: 0.5397 - accuracy: 0.7351
Epoch 29/100
804/804 [==============================] - 0s 576us/step - loss: 0.5397 - accuracy: 0.7359
Epoch 30/100
804/804 [==============================] - 0s 603us/step - loss: 0.5392 - accuracy: 0.7360
Epoch 31/100
804/804 [==============================] - 0s 573us/step - loss: 0.5391 - accuracy: 0.7365
Epoch 32/100
804/804 [==============================] - 0s 581us/step - loss: 0.5391 - accuracy: 0.7365
Epoch 33/100
804/804 [==============================] - 0s 581us/step - loss: 0.5393 - accuracy: 0.7365
Epoch 34/100
804/804 [==============================] - 0s 568us/step - loss: 0.5387 - accuracy: 0.7365
Epoch 35/100
804/804 [==============================] - 0s 579us/step - loss: 0.5385 - accuracy: 0.7376
Epoch 36/100
804/804 [==============================] - 0s 564us/step - loss: 0.5387 - accuracy: 0.7366
Epoch 37/100
804/804 [==============================] - 0s 563us/step - loss: 0.5383 - accuracy: 0.7369
Epoch 38/100
804/804 [==============================] - 0s 563us/step - loss: 0.5386 - accuracy: 0.7354
Epoch 39/100
804/804 [==============================] - 0s 571us/step - loss: 0.5383 - accuracy: 0.7376
Epoch 40/100
804/804 [==============================] - 0s 584us/step - loss: 0.5378 - accuracy: 0.7373
Epoch 41/100
804/804 [==============================] - 0s 563us/step - loss: 0.5377 - accuracy: 0.7359
Epoch 42/100
804/804 [==============================] - 0s 570us/step - loss: 0.5377 - accuracy: 0.7371
Epoch 43/100
804/804 [==============================] - 0s 565us/step - loss: 0.5377 - accuracy: 0.7376
Epoch 44/100
804/804 [==============================] - 0s 560us/step - loss: 0.5375 - accuracy: 0.7376
Epoch 45/100
804/804 [==============================] - 0s 578us/step - loss: 0.5376 - accuracy: 0.7376
Epoch 46/100
804/804 [==============================] - 0s 560us/step - loss: 0.5375 - accuracy: 0.7381
Epoch 47/100
804/804 [==============================] - 0s 570us/step - loss: 0.5371 - accuracy: 0.7369
Epoch 48/100
804/804 [==============================] - 0s 576us/step - loss: 0.5369 - accuracy: 0.7381
Epoch 49/100
804/804 [==============================] - 0s 572us/step - loss: 0.5371 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 0s 567us/step - loss: 0.5369 - accuracy: 0.7388
Epoch 51/100
804/804 [==============================] - 0s 574us/step - loss: 0.5369 - accuracy: 0.7388
Epoch 52/100
804/804 [==============================] - 0s 583us/step - loss: 0.5365 - accuracy: 0.7379
Epoch 53/100
804/804 [==============================] - 0s 580us/step - loss: 0.5366 - accuracy: 0.7378
Epoch 54/100
804/804 [==============================] - 0s 561us/step - loss: 0.5367 - accuracy: 0.7386
Epoch 55/100
804/804 [==============================] - 0s 565us/step - loss: 0.5363 - accuracy: 0.7379
Epoch 56/100
804/804 [==============================] - 0s 582us/step - loss: 0.5363 - accuracy: 0.7391
Epoch 57/100
804/804 [==============================] - 0s 566us/step - loss: 0.5362 - accuracy: 0.7386
Epoch 58/100
804/804 [==============================] - 0s 578us/step - loss: 0.5364 - accuracy: 0.7380
Epoch 59/100
804/804 [==============================] - 0s 570us/step - loss: 0.5366 - accuracy: 0.7381
Epoch 60/100
804/804 [==============================] - 0s 590us/step - loss: 0.5359 - accuracy: 0.7387
Epoch 61/100
804/804 [==============================] - 0s 574us/step - loss: 0.5358 - accuracy: 0.7386
Epoch 62/100
804/804 [==============================] - 0s 566us/step - loss: 0.5362 - accuracy: 0.7391
Epoch 63/100
804/804 [==============================] - 0s 591us/step - loss: 0.5358 - accuracy: 0.7385
Epoch 64/100
804/804 [==============================] - 0s 573us/step - loss: 0.5357 - accuracy: 0.7381
Epoch 65/100
804/804 [==============================] - 0s 581us/step - loss: 0.5353 - accuracy: 0.7385
Epoch 66/100
804/804 [==============================] - 0s 576us/step - loss: 0.5356 - accuracy: 0.7389
Epoch 67/100
804/804 [==============================] - 0s 568us/step - loss: 0.5359 - accuracy: 0.7391
Epoch 68/100
804/804 [==============================] - 0s 580us/step - loss: 0.5347 - accuracy: 0.7385
Epoch 69/100
804/804 [==============================] - 0s 571us/step - loss: 0.5358 - accuracy: 0.7386
Epoch 70/100

804/804 [==============================] - 0s 603us/step - loss: 0.5354 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 0s 590us/step - loss: 0.5354 - accuracy: 0.7386
Epoch 72/100
804/804 [==============================] - 0s 569us/step - loss: 0.5351 - accuracy: 0.7386
Epoch 73/100
804/804 [==============================] - 0s 577us/step - loss: 0.5351 - accuracy: 0.7391
Epoch 74/100
804/804 [==============================] - 0s 567us/step - loss: 0.5352 - accuracy: 0.7393
Epoch 75/100
804/804 [==============================] - 0s 586us/step - loss: 0.5351 - accuracy: 0.7381
Epoch 76/100
804/804 [==============================] - 0s 572us/step - loss: 0.5351 - accuracy: 0.7401
Epoch 77/100
804/804 [==============================] - 0s 573us/step - loss: 0.5348 - accuracy: 0.7401
Epoch 78/100
804/804 [==============================] - 0s 573us/step - loss: 0.5349 - accuracy: 0.7385
Epoch 79/100
804/804 [==============================] - 0s 570us/step - loss: 0.5348 - accuracy: 0.7391
Epoch 80/100
804/804 [==============================] - 0s 587us/step - loss: 0.5339 - accuracy: 0.7396
Epoch 81/100
804/804 [==============================] - 0s 584us/step - loss: 0.5347 - accuracy: 0.7383
Epoch 82/100
804/804 [==============================] - 0s 576us/step - loss: 0.5345 - accuracy: 0.7384
Epoch 83/100
804/804 [==============================] - 0s 573us/step - loss: 0.5341 - accuracy: 0.7393
Epoch 84/100
804/804 [==============================] - 0s 565us/step - loss: 0.5343 - accuracy: 0.7394
Epoch 85/100
804/804 [==============================] - 0s 590us/step - loss: 0.5342 - accuracy: 0.7390
Epoch 86/100
804/804 [==============================] - 0s 571us/step - loss: 0.5342 - accuracy: 0.7393
Epoch 87/100
804/804 [==============================] - 0s 564us/step - loss: 0.5338 - accuracy: 0.7391
Epoch 88/100
804/804 [==============================] - 0s 575us/step - loss: 0.5338 - accuracy: 0.7398
Epoch 89/100
804/804 [==============================] - 0s 569us/step - loss: 0.5343 - accuracy: 0.7389
Epoch 90/100
804/804 [==============================] - 0s 584us/step - loss: 0.5338 - accuracy: 0.7391
Epoch 91/100
804/804 [==============================] - 0s 564us/step - loss: 0.5343 - accuracy: 0.7392
Epoch 92/100
804/804 [==============================] - 0s 578us/step - loss: 0.5337 - accuracy: 0.7399
Epoch 93/100
804/804 [==============================] - 0s 574us/step - loss: 0.5339 - accuracy: 0.7402
Epoch 94/100
804/804 [==============================] - 0s 571us/step - loss: 0.5339 - accuracy: 0.7404
Epoch 95/100
804/804 [==============================] - 0s 614us/step - loss: 0.5336 - accuracy: 0.7404
Epoch 96/100
804/804 [==============================] - 0s 584us/step - loss: 0.5338 - accuracy: 0.7399
Epoch 97/100
804/804 [==============================] - 0s 580us/step - loss: 0.5336 - accuracy: 0.7407
Epoch 98/100
804/804 [==============================] - 0s 589us/step - loss: 0.5335 - accuracy: 0.7396
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7385
Epoch 100/100
804/804 [==============================] - 1s 740us/step - loss: 0.5338 - accuracy: 0.7397

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5574 - accuracy: 0.7275 - 184ms/epoch - 687us/step
Loss: 0.5573846697807312, Accuracy: 0.7274635434150696

## Results
The Accuracy is practically the same as before, but slightly lower. This shows there is no reason to change the original bins selected.